.page-2-body
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
   
}
.margin-auto
{
    margin-left: auto;
    margin-right: auto;
}
.page-2
{
    
    background-image: url("../src/coffee-2.jpg");
   width: 100%;
   height:100%;
   background-repeat: no-repeat;
   background-size: cover;
   

}
.page-2-sitting
{
    height: 1450px;
}
.page-2-about-page
{
    width: 70%;
    height: 1450px;
    
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.945);
    
}
.about-page-title
{
    height: 160px;
}
#about-page-title-about
{
    text-align: left;
   
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 150px;
   
    float: left;
}
#about-page-title-picture
{
    float: right;
    width: 115px;
    height: 85px;
    margin-right: 50px;
    margin-top: 45px;
   
}

.about-top-word
{
    
    margin-top:0px;
    text-align: left;
    margin-left: 50px;
    font-size: 17.5px;
   margin-right: 50px;
   line-height:32px;
}
#about-page-title-picture-2
{
    width: 100%;
    height: 400px;
}



.about-information
{
    width: 920px;
  
    height: 430px;
}

.about-information-sation
{
    width: 220px;
    padding: 10px;
    margin: 10px;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    height: 390px;

}
.information-title
{
    font-size: 15px;
    font-weight: 600;
}

.information-insit
{
    text-align: left;
    font-size: 15px;
    font-weight: 500;
}
a
{
    text-decoration: none;
    color: red;
}
.hours-contact
{
    line-height:30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; 
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 65px;
    font-size: 14px;
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(124, 122, 122);
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}

li a:hover {
    color: rgb(189, 184, 184);
    text-decoration: underline;
}
.title-link-seaction-dineen
{
    font-size: 20px;
    padding-top: 23px;
    font-weight:bold;
    color: white;
}
