.page-2-body
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
   
}
.margin-auto
{
    margin-left: auto;
    margin-right: auto;
}
.page-2
{
    
    background-image: url("../src/coffee-2.jpg");
   width: 1440PX;
   height:100px;
   background-repeat: no-repeat;
   background-size: cover;
   

}
.page-2-sitting
{
    height: 660px;
}
.page-2-catering-page
{
    width: 936px;
    height: 660px;
    
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255,0.945);
    
}
.catering-page-title
{
    height: 40px;
}
#catering-page-title-catering
{
    text-align: left;
   
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 120px;
    margin-left: 60px;
    margin-right: 150px;
    margin-bottom: 20px;
   
    float: left;
}
#catering-page-title-picture
{
    float: right;
    width: 115px;
    height: 85px;
    margin-right: 50px;
    margin-top: 100px;
    margin-bottom: 20px;
   
   
}


#catering-page-title-picture-2
{
    width: 100%;
    height: 300px;
}

.catering-information
{
    font-size: 17px;
    text-align: left;

}

 .catering-information-word
{
   padding-left: 70px;
   margin-top: 0px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; 
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 65px;
    font-size: 14px;
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(124, 122, 122);
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}

li a:hover {
    color: rgb(189, 184, 184);
    
}
.title-link-seaction:hover
{
    text-decoration: underline;
}
.title-link-seaction-dineen
{
    font-size: 20px;
    padding-top: 23px;
    font-weight:bold;
    color: white;
    text-decoration: none;
}