.page-3-body
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
   
}
.margin-auto
{
    margin-left: auto;
    margin-right: auto;
}
.page-3
{
    
    background-image: url("../src/coffee-2.jpg");
   width: 100%;
   height:1300px;
   background-repeat: no-repeat;
   background-size: cover;

}
.page-3-sitting
{
    height: 1000px;
}
.page-2-food-page
{
    width: 70%;
    height: 1200px;
    
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.937);
    
}
.food-page-title
{
    height: 200px;
}
#food-page-title-food
{
    text-align: left;
   
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 120px;
    margin-left: 60px;
    margin-right: 150px;
   
    float: left;
}
#food-page-title-picture
{
    float: right;
    width: 115px;
    height: 85px;
    margin-right: 50px;
    margin-top: 105px;
   
}

#food-top-word
{
    
    margin-top:20px;
    text-align: left;
    margin-left: 50px;
    font-size: 16.5px;
   
}
#food-page-title-picture-2
{
    width: 100%;
    height: 400px;
}

.circle
{
    display: inline-block;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 1px solid rgb(48, 46, 46);
   
  
     
}
.food-page-circle-picture-bakery {
    background-image: url(../src/bakery.jpeg);
    background-size:cover;
    background-position:center center;
    height: 100%;
    border-radius:50%;
}
.food-page-circle-picture-breakfast
{
    background-image: url(../src/breakfast.jpeg);
    background-size:cover;
    background-position:center center;
    height: 100%;
    border-radius:50%;
}
.food-page-circle-picture-senwichs
{
    background-image: url(../src/sanwich2.jpg);
    background-size:cover;
    background-position: right right;
    height: 100%;
    border-radius:50%;
}
.food-page-circle-picture-charcuterie
{
    background-image: url(../src/charcuterie.jpeg);
    background-size:cover;
    background-position: right right;
    height: 100%;
    border-radius:50%;
}

.food-information
{
    width: 910px;
  
    height: 430px;
    margin-left: auto;
    margin-right: auto;
    
}

.food-information-picture
{
    width: 185px;
    padding: 10px;
    margin: 10px;
   
    display: inline-block;
    vertical-align: top;
    height: 390px;

}
.information-title
{
    font-size: 18px;
    font-weight: 600;
}

.information-insit
{
    text-align: left;
    padding-left: 20px;
    
    font-size: 15px;
    font-weight: 500;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; 
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 65px;
    font-size: 14px;
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(124, 122, 122);
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}

li a:hover {
    color: rgb(189, 184, 184);
    text-decoration: underline;
}
.title-link-seaction-dineen
{
    font-size: 20px;
    padding-top: 23px;
    font-weight:bold;
    color: white;
}
