.page-body
{
    font-family: 'proxima-nova', arial, sans-serif;
    margin:0px;
    padding: 0px;
}

.page-1
{
    margin-left: auto;
    margin-right:auto;
   
    width:100%;
   
   
}
#background-picture
{
width: 100%;
height: 505px
}

.page-1-title-seaction
{
    font-family: 'proxima-nova', arial, sans-serif;
    font-size: 13px;
   
    border: 2px solid gray;
    background-color: black;
    position: relative;
    bottom: 3px;
    width: 1362PX;
    height:65px;
   

   
}
.title-seaction-link{
    text-decoration: none;
    padding-top: 25PX;
    padding-left:  20px;
    padding-right: 20px;
    padding-bottom: 0px;
    font-weight: 700;
    float: left;
    color: gray;
   
}

#title-link-seaction-dineen
{
    font-weight: 900;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 10px;
    text-decoration: none;
    padding-top:25px;
    float: left;
    color: white;
}
.title-seaction-link:hover{
    color: white;
    text-decoration:underline;
    
}

i{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 25px;
    float: left;
   
}

hr{
    width: 0px;
    height:63px;
    position: relative;
    bottom: 7px;
    margin-left: 490PX;
   
    float: left;


}

#page-picture-link
{
   width: 30px;
   height:25px;
   padding-top: 20px;
   float: right;
   padding-right: 15px;
}
   
