.page-2-body
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}
.page-2
{
    margin-left: auto;
    margin-right: auto;
    background-image: url("../src/coffee-2.jpg");
   
}
