.page-body
{
    font-family: 'proxima-nova', arial, sans-serif;
    margin:0px;
    padding: 0px;
}

.page-1
{
    margin-left: auto;
    margin-right:auto;
      width:1450px;
   
   
}
#background-picture
{
width: 100%;
height: 689px
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: fixed;
    bottom: 0;
    width: 1450px;
    height: 65px;
    position: absolute;
    z-index:1;
}
#title-small-picture
{
    
    width: 115px;
    height: 85px;
    position: absolute;
    right: 30px;
    bottom: 100px;
    z-index:2;
    opacity: 0.6;
}
li {
    float: left;
}

li a {
    display: block;
    color: rgb(124, 122, 122);
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}

li a:hover {
    color: rgb(189, 184, 184);
    
}
.title-link-seaction:hover
{
    text-decoration: underline;
}
.title-link-seaction-dineen
{
    font-size: 20px;
    padding-top: 23px;
    font-weight:bold;
    color: white;
    text-decoration: none;
}
hr{
    width: 0px;
    height:70px;
    margin-left: 430px;
    position: relative;
    bottom: 10px;
    
  
}
#page-picture-link
{
    width: 35px;
    padding-left: 15px;
    position: relative;
    bottom: 9px;
   
}

