.page-2-body
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
   
}
.margin-auto
{
    margin-left: auto;
    margin-right: auto;
}
.page-2
{
    
    background-image: url("../src/coffee-2.jpg");
   width: 1450PX;
   height:50px;
   background-repeat: no-repeat;
   background-size: cover;
   

}
.page-2-sitting
{
    height: 1550px;
}
.page-2-catering-page
{
    width: 1040px;
    height: 1550px;
    
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.973);
    
}
.catering-page-title
{
    height: 230px;
}
#catering-page-title-catering
{
    text-align: left;
   
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 120px;
    margin-left: 60px;
    margin-right: 150px;
    float: left;
}
#catering-page-title-picture
{
    float: right;
    width: 115px;
    height: 85px;
    margin-right: 50px;
    margin-top: 105px;
    
   
}
.coffee-location-sation
{
    width: 1050px;
    height: 1350px;
    
}
.coffee-shop-picture-sation
{
    width: 1050px;
    height: 400px;
    
}
.coffee-shop-picture
{
    width: 683px;
    height: 400px;
    float: left;
}
.about-information-sation
{
    width: 300px;
    padding: 0px;
    margin: 0px;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    height: 490px;

}
.information-title
{
    font-size:20px;
    font-weight: 600;
   
}

.information-insit
{
    text-align: left;
    font-size: 17px;
    font-weight: 500;
}
a
{
    text-decoration: none;
    color: red;
}
.hours-contact
{
    line-height:20px;
}
.picture-title
{
    margin-bottom: 5px;
}
    



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; 
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 65px;
    font-size: 14px;
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(124, 122, 122);
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}

li a:hover {
    color: rgb(189, 184, 184);
    
}
.title-link-seaction:hover
{
    text-decoration: underline;
}
.title-link-seaction-dineen
{
    font-size: 20px;
    padding-top: 23px;
    font-weight:bold;
    color: white;
    text-decoration: none;
}
